<!DOCTYPE html>
<html>

<head>
  <title>Admin Account Result</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
  <div class="rounded d-flex justify-content-center p-2">
    <h2>Account Result</h2>
  </div>
  <div class="rounded d-flex justify-content-center">
    <div class="m-2" style="width: 400px">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th colspan="2">Savings</th>
          </tr>
          <tr>
            <th scope="col">Account</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <%- locals.savingsAccount %>
              </td>
              <td>
                <%- locals.savingsBalance %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="m-2" style="width: 400px">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th colspan="2">Checking</th>
            </tr>
            <tr>
              <th scope="col">Account</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  <%- locals.checkingAccount %>
                </td>
                <td>
                  <%- locals.checkingBalance %>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div class="rounded d-flex justify-content-center p-2">
    <div class="m-2" style="width: 400px">
      <h3>Account information</h3>
      <h5>Account Username: <%- locals.username %></h3>
      <h5>Name: <%- locals.name %></h5>
      <h5>Address: <%- locals.address %></h5>
      <h5>Phone: <%- locals.phone %></h5>
    </div>
  </div>
  <div class="rounded d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="window.location.href='/transactions_emp'">Transactions</button> 
    <button type="button" class="btn btn-primary" onclick="window.location.href='/transfer'">Transfer Funds</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/deposit'">Deposit Funds</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/changepassword'">Change Password</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/adminaccountsearch'">New Search</button>   
  </div>
</body>

</html>